{% extends 'base.html' %}

{% block content %}
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Ricardo Palungguk Natama</span>
            <form method="post" action="{% url 'main:logout' %}">
                {% csrf_token %}
                <button class="btn btn-outline-success" type="submit">Logout</button>
                <style>
                    .btn-outline-success {
                        color: #fff; /* Warna teks sesuai dengan warna outline tombol */
                        background-color: transparent; /* Warna latar belakang putih */
                        border-color: #fff; /* Warna outline sesuai dengan warna teks tombol */
                        transition: background-color 0.3s, color 0.3s; /* Efek transisi saat hover */
                    }
                    .btn-outline-success:hover {
                        color: #000; /* Warna teks saat hover */
                        background-color: #fff; /* Latar belakang saat hover */
                        border-color: #000;
                    }
                </style>
            </form>
        </div>
    </nav>
    <h1>Shopping List Page</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>

    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.date_added}}</td>
                <td>
                    <a href="{% url 'main:edit_product' product.pk %}">
                        <button>
                            Edit
                        </button>
                    </a>
                    <a href="{% url 'main:delete_product' product.pk %}">
                          <button>
                              Delete
                          </button>
                      </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <h5>Sesi terakhir login: {{ last_login }}</h5>

    <br />
    
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
        <a href="{% url 'main:logout' %}">
            <button>
                Logout
            </button>
        </a>
    </a>
    
{% endblock content %}